@font-face {
  font-family: 'Segoe-UI';
  src: url('/assets/fonts/SEGOEUI.TTF');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: Segoe-UI;
  --font-color: #292C3A;
  --font-bold: 600;
  --pwa-theme-color: #808080;
  --pwa-background-color: #FFF;
}

html, body {
  font-family: var(--font-family), sans-serif;
  padding: 0;
  margin: 0;
}

fast-design-system-provider {
  color: var(--font-color);
  --background-color: var(--pwa-background-color);
}